* {
    box-sizing: border-box;

    :focus-visible {
        outline: none;
    }
}

html {
    // font-family: ;
    background-color: $black;
    color: white;
    font-family: 'JetBrains Mono';
}

.container {
    padding: 0 20px;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

label {
    &:hover {
        cursor: pointer;
    }
}
