$black: #262626;
$gray: #333;
$grayWhite: #969696;
$white: #fff;
$green: #5cb14b;
$blue: #3761e1;

// tile colors
$tileWhite: #e9e9e9;
$tileRed: #f45a5a;
$tileGreen: #4ee62f;
$tileYellow: #fff22f;
$tileTurquoise: #45ecec;
$tileBlue: #3761e1;
$tileViolet: #d2389d;

